---
http_interactions:
- request:
    method: get
    uri: https://api.redcircleapi.com/request?api_key=<target_api_key>&category_id=5xt1a&search_term=banana&type=search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Serving-Cluster:
      - apiserver
      Etag:
      - W/"d23e-ajlOOXazjWKNav3dJ1Ed/5vLNrE"
    body:
      encoding: UTF-8
      string: '{"request_info":{"success":true,"credits_used":31,"credits_remaining":69,"credits_used_this_request":1},"request_parameters":{"category_id":"5xt1a","search_term":"banana","type":"search"},"request_metadata":{"created_at":"2022-12-10T23:19:47.134Z","processed_at":"2022-12-10T23:19:48.611Z","total_time_taken":1.48,"target_url":"https://www.target.com/s?searchTerm=banana&Nao=0&category=5xt1a"},"search_results":[{"position":1,"product":{"title":"Organic
        Bananas - 2lb","link":"https://www.target.com/p/organic-bananas-2lb/-/A-85759852","tcin":"85759852","dpci":"267-00-0001","class_id":0,"department_id":267,"feature_bullets":["Organic
        bananas","Great for breakfast on the go","Quick and easy snack","Great for
        adding into smoothies, oatmeal, or desserts"],"rating":4.2,"ratings_total":2145,"main_image":"https://target.scene7.com/is/image/Target/GUEST_90259dc9-363e-43e3-9570-93655723ec61","images":["https://target.scene7.com/is/image/Target/GUEST_90259dc9-363e-43e3-9570-93655723ec61","https://target.scene7.com/is/image/Target/GUEST_7e946729-4221-452d-b2f5-2839db3ab0ce","https://target.scene7.com/is/image/Target/GUEST_e2572da5-aeaf-4eea-86b8-f73aa981e0f1","https://target.scene7.com/is/image/Target/GUEST_4b508933-a94c-4cd1-9797-aa809754c614","https://target.scene7.com/is/image/Target/GUEST_92707c53-82d4-4876-b26f-f3026441be90"]},"offers":{"primary":{"price":1.69,"currency":"USD","symbol":"$"},"all_offers":[{"price":1.69,"currency":"USD","symbol":"$"}]},"fulfillment":{"type":"1p"}},{"position":2,"product":{"title":"Once
        Upon a Farm Wild Rumpus Avocado, Pineapple Banana Organic Kids&#39; Snack
        - 3.2oz Pouch","link":"https://www.target.com/p/once-upon-a-farm-wild-rumpus-avocado-pineapple-banana-organic-kids-39-snack-3-2oz-pouch/-/A-53318169","tcin":"53318169","dpci":"211-34-0147","class_id":34,"department_id":211,"brand":"Once
        Upon a Farm","brand_link":"https://www.target.com/b/once-upon-a-farm/-/N-fqfwd","feature_bullets":["A
        refrigerated nutrition-packed snack for busy on-the-go kids!","Full of vitamin
        E-loaded monounsaturated fat from avocado, plus vitamins and fiber in fresh
        pineapple to help fight inflammation and ease digestion.","Wild Rumpus Avocado
        is a satisfying and silky combo with no added sugar‡, no preservatives or
        artificial ingredients.","Cold-pressed to lock in nutrients and flavors that[...]
