---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=80108&radius=16093&term=target
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 1707dd5e681a196c
      X-Routing-Service:
      - routing-main--useast1-64bdc8b4bb-dnt4b; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-109-114-useast1aprod
      X-Extlb:
      - 10-65-109-114-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Authorization
        is a required parameter.", "field": "Authorization", "instance": null}}'
  recorded_at: Fri, 09 Dec 2022 22:42:18 GMT
recorded_with: VCR 6.1.0
