---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=80108&radius=16093&term=target
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<yelp_api_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '5000'
      Ratelimit-Resettime:
      - '2022-12-16T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-54c89576fb-khjts; site=public_api_v3
      X-Zipkin-Id:
      - b7efa20bbbfb4f34
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-122-173-uswest2aprod
      X-Extlb:
      - 10-69-122-173-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "IJH1FENZp7bNrPQh3nPccQ", "alias": "target-castle-rock",
        "name": "Target", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/5ExtJrIUC1AA5_itPVHUiQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/target-castle-rock?adjust_creative=HXaFGsDa_NpgBlPglTMuTA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HXaFGsDa_NpgBlPglTMuTA",
        "review_count": 37, "categories": [{"alias": "deptstores", "title": "Department
        Stores"}, {"alias": "furniture", "title": "Furniture Stores"}, {"alias": "electronics",
        "title": "Electronics"}], "rating": 2.5, "coordinates": {"latitude": 39.40837,
        "longitude": -104.857}, "transactions": [], "price": "$$", "location": {"address1":
        "5010 Founders Pkwy", "address2": "", "address3": "", "city": "Castle Rock",
        "zip_code": "80108", "country": "US", "state": "CO", "display_address": ["5010
        Founders Pkwy", "Castle Rock, CO 80108"]}, "phone": "+13036634322", "display_phone":
        "(303) 663-4322", "distance": 3870.6431920465884}, {"id": "mLP03hgUEq9Nje3w92UEYw",
        "alias": "target-parker-2", "name": "Target", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/JyKd3dOF4UTMWrwp6UQNUQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/target-parker-2?adjust_creative=HXaFGsDa_NpgBlPglTMuTA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=HXaFGsDa_NpgBlPglTMuTA",
        "review_count": 43, "categories": [{"alias": "deptstores", "title": "Department
       [...]
